<mat-toolbar color="robotest">
    <mat-toolbar-row>
        <span>ROBOTEST SUITE REPORTS</span>
        <span class="toolbar-spacer"></span>
        <img class="media-object" src="/assets/images/robotest.png" width="48" height="48" alt="Robotest Suite Reports">
    </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid robotest2 fill-height" *ngIf="suitesLoaded">
  <robotest-mgrid *ngIf="!report.suiteSelected" [gridData]="report" [gridType]="SUITE"></robotest-mgrid>
  <div class="robotest2" *ngIf="report.suiteSelected">
    <mat-toolbar  color="robotest2">
        <button mat-mini-fab color="robotest" (click)="deselectSuite()" tooltip="Show Suite List">
            <mat-icon color="robotest">list</mat-icon>
        </button>
        &nbsp;Suite Selected: <div [innerHTML]="report.suiteSelected.name"></div>
    </mat-toolbar>
    <table class="table robotest3">
      <thead>
        <tr>
            <th>Exec. Order</th>
            <th>Description</th>
            <th>Out Case Errors</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Have Config?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{report.suiteSelected.order}}</td>
          <td>{{report.suiteSelected.description}}</td>
          <td>
            <button mat-mini-fab color="robotest" *ngIf="report.suiteSelected.outCaseErrors && report.suiteSelected.outCaseErrors.length > 0" (click)="showOutErrors(report.suiteSelected.outCaseErrors,'Out Case Suite Errors: ' + report.suiteSelected.name)" tooltip="Out Case Suite Errors">
              <mat-icon color="robotest">error</mat-icon>
            </button>
          </td>
          <td>{{report.suiteSelected.initMillis|date:'medium'}}</td>
          <td>{{report.suiteSelected.endMillis|date:'medium'}}</td>
          <td matTooltip="{{ report.suiteSelected.durationMillis }} ms.">{{report.suiteSelected.duration}}</td>
          <td>
            <button mat-mini-fab color="robotest" *ngIf="report.suiteSelected.config != ''" (click)="showConfig(report.suiteSelected.config,'Suite Config: ' + report.suiteSelected.name)" tooltip="Suite Config">
              <mat-icon color="robotest">library_books</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row robotest2">
      <div class="robotest2 col-md-3" *ngIf="!report.suiteSelected.caseSelected && report.suiteSelected.cases.length > 0">
          <canvas baseChart [data]="report.suiteSelected.doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
          <canvas baseChart [datasets]="report.suiteSelected.lineChartData" [labels]="report.suiteSelected.lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>

      <div class="robotest2 col-md-{{(report.suiteSelected.caseSelected)?12:9}}">

        <robotest-mgrid *ngIf="!report.suiteSelected.caseSelected && report.suiteSelected.cases.length > 0" [gridData]="report.suiteSelected" [gridType]="CASE"></robotest-mgrid>

        <span *ngIf="report.suiteSelected.caseSelected">
          <mat-toolbar  color="robotest2">
              <button mat-mini-fab color="robotest" (click)="deselectCase()" tooltip="Show Case List">
                  <mat-icon color="robotest">list</mat-icon>
              </button>
              &nbsp;Case Selected: <div [innerHTML]="report.suiteSelected.caseSelected.name"></div>
          </mat-toolbar>
          <table class="table robotest3">
              <thead>
                  <tr>
                      <th>Exec. Order</th>
                      <th>Description</th>
                      <th>Start</th>
                      <th>End</th>
                      <th>Duration</th>
                      <th>Out Step Errors</th>
                      <th>Have Config?</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>{{report.suiteSelected.caseSelected.order}}</td>
                      <td>{{report.suiteSelected.caseSelected.description}}</td>
                      <td>{{report.suiteSelected.caseSelected.initMillis|date:'medium'}}</td>
                      <td>{{report.suiteSelected.caseSelected.endMillis|date:'medium'}}</td>
                      <td matTooltip="{{ report.suiteSelected.caseSelected.durationMillis }} ms.">{{report.suiteSelected.caseSelected.duration}}</td>
                      <td>
                          <button mat-mini-fab color="robotest" *ngIf="report.suiteSelected.caseSelected.outStepErrors  && report.suiteSelected.caseSelected.outStepErrors.length > 0" (click)="showOutErrors(report.suiteSelected.caseSelected.outStepErrors,'Out Step Case Errors: ' + report.suiteSelected.caseSelected.name)" tooltip="Out Step Case Errors">
                            <mat-icon color="robotest">error</mat-icon>
                          </button>
                      </td>
                      <td>
                        <button mat-mini-fab color="robotest" *ngIf="report.suiteSelected.caseSelected.config != ''" (click)="showConfig(report.suiteSelected.caseSelected.config,'Case Config: ' + report.suiteSelected.caseSelected.name)" tooltip="Case Config">
                          <mat-icon color="robotest">library_books</mat-icon>
                        </button>
                      </td>
                  </tr>
              </tbody>
          </table>

        </span>

      </div>
    </div>

    <div class="row robotest2" *ngIf="report.suiteSelected.caseSelected">
      <div class="robotest2 col-md-3"  *ngIf="!report.suiteSelected.caseSelected.stepSelected  && report.suiteSelected.caseSelected.steps.length">
          <canvas baseChart [data]="report.suiteSelected.caseSelected.doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
          <canvas baseChart [datasets]="report.suiteSelected.caseSelected.lineChartData" [labels]="report.suiteSelected.caseSelected.lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>

      <div class="robotest2 col-md-{{(report.suiteSelected.caseSelected.stepSelected)?12:9}}">

          <robotest-mgrid *ngIf="!report.suiteSelected.caseSelected.stepSelected  && report.suiteSelected.caseSelected.steps.length > 0" [gridData]="report.suiteSelected.caseSelected" [gridType]="STEP"></robotest-mgrid>

          <span *ngIf="report.suiteSelected.caseSelected.stepSelected" >

              <mat-toolbar color="robotest2">
                <button mat-mini-fab color="robotest" (click)="deselectStep()" tooltip="Show Step List">
                  <mat-icon color="robotest">list</mat-icon>
                </button>
                &nbsp;Step Selected: <div [innerHTML]="report.suiteSelected.caseSelected.stepSelected.name"></div>
              </mat-toolbar>
              <table class="table robotest3">
                <thead>
                  <tr>
                      <th>Exec. Order</th>
                      <th>Description</th>
                      <th>Start</th>
                      <th>End</th>
                      <th>Duration</th>
                      <th>Have Config?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{report.suiteSelected.caseSelected.stepSelected.order}}</td>
                    <td>{{report.suiteSelected.caseSelected.stepSelected.description}}</td>
                    <td>{{report.suiteSelected.caseSelected.stepSelected.initMillis|date:'medium'}}</td>
                    <td>{{report.suiteSelected.caseSelected.stepSelected.endMillis|date:'medium'}}</td>
                    <td matTooltip="{{ report.suiteSelected.caseSelected.stepSelected.durationMillis }} ms.">{{report.suiteSelected.caseSelected.stepSelected.duration}}</td>
                    <td>
                      <button mat-mini-fab color="robotest" *ngIf="report.suiteSelected.caseSelected.stepSelected.config != ''" (click)="showConfig(report.suiteSelected.caseSelected.stepSelected.config,'Case Config: ' + report.suiteSelected.caseSelected.stepSelected.name)" tooltip="Step Config">
                        <mat-icon color="robotest">library_books</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </span>
      </div>
    </div>

    <div class="row robotest2" *ngIf="report.suiteSelected.caseSelected && report.suiteSelected.caseSelected.stepSelected">
      <div class="robotest2 col-md-3" *ngIf="!report.suiteSelected.caseSelected.stepSelected.validationSelected">
          <canvas baseChart [data]="report.suiteSelected.caseSelected.stepSelected.doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"></canvas>
      </div>

      <div class="robotest2 col-md-{{(report.suiteSelected.caseSelected.stepSelected.validationSelected)?12:9}}">

        <mat-tab-group *ngIf="!report.suiteSelected.caseSelected.stepSelected.validationSelected">
            <mat-tab>
              <ng-template mat-tab-label>
                  <button mat-mini-fab color="robotest" tooltip="Validation List"><mat-icon color="robotest">list</mat-icon></button>
              </ng-template>
              <robotest-mgrid [gridData]="report.suiteSelected.caseSelected.stepSelected" [gridType]="VALIDATION"></robotest-mgrid>
            </mat-tab>
            <mat-tab *ngIf="report.suiteSelected.caseSelected.stepSelected.captures.length > 0">
              <ng-template mat-tab-label>
                  <button mat-mini-fab color="robotest" tooltip="Capture Carrousel"><mat-icon color="robotest">switch_camera</mat-icon></button>
              </ng-template>
              <carousel>
                  <slide *ngFor="let capture of report.suiteSelected.caseSelected.stepSelected.captures">
                      <img src="{{capture.url}}" style="width: 100%;" />
                      <div class="carousel-caption">
                          <p>Validation nº: {{capture.order}}</p>
                      </div>
                  </slide>
              </carousel>
            </mat-tab>
          </mat-tab-group>

        <span *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected" >
          <mat-toolbar color="robotest2">
            <button mat-mini-fab color="robotest" (click)="deselectValidation()" tooltip="Show Validation List">
                <mat-icon color="robotest">list</mat-icon>
            </button>
            &nbsp;Validation Details
          </mat-toolbar>
          <table class="table robotest3">
            <tr *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.order">
              <td><b>Exec. Order</b></td>
              <td>{{report.suiteSelected.caseSelected.stepSelected.validationSelected.order}}</td>
            </tr>
            <tr *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.status">
              <td><b>Status</b></td>
              <td>
                <span class="badge badge-info" *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.status=='INFO' || report.suiteSelected.caseSelected.stepSelected.validationSelected.status=='DEBUG'">
                {{ report.suiteSelected.caseSelected.stepSelected.validationSelected.status }}
                </span>
                <span class="badge badge-warning" *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.status=='WARNING'">
                {{ report.suiteSelected.caseSelected.stepSelected.validationSelected.status }}
                </span>
                <span class="badge badge-error" *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.status=='ERROR'  || report.suiteSelected.caseSelected.stepSelected.validationSelected.status=='DEFECT' || report.suiteSelected.caseSelected.stepSelected.validationSelected.status=='CRITICAL'">
                {{ report.suiteSelected.caseSelected.stepSelected.validationSelected.status }}
                </span>
              </td>
            </tr>
            <tr>
              <td><b>Type</b></td>
              <td>
                  <mat-icon *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type==='CONSOLE'" title="console">call_to_action</mat-icon>
                  <mat-icon *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type==='TEXT'" title="text">message</mat-icon>
                  <mat-icon *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type==='HTML'" title="html">code</mat-icon>
                  <mat-icon *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type==='SCREENSHOT'" title="screenshot">linked_camera</mat-icon>
              </td>
            </tr> 
            <tr *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type ==='CONSOLE' || report.suiteSelected.caseSelected.stepSelected.validationSelected.type ==='TEXT'">
              <td><b>Resource</b></td>
              <td>
                <span *ngFor="let resource of report.suiteSelected.caseSelected.stepSelected.validationSelected.resource">
                  <div [innerHTML]="resource"></div>
                  <hr />
                </span>
              </td>
            </tr>                       
            <tr *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type ==='HTML'">
                <td><b>Page Source</b></td>
                <td><robotest-highlighter [href]="report.suiteSelected.caseSelected.stepSelected.validationSelected.resource_link"></robotest-highlighter></td>
              </tr>            
            <tr *ngIf="report.suiteSelected.caseSelected.stepSelected.validationSelected.type ==='SCREENSHOT'">
              <td><b>ScreenShot Capture</b></td>
              <td><img src="{{report.suiteSelected.caseSelected.stepSelected.validationSelected.resource_link}}" style="width: 100%;" /></td>
            </tr>
          </table>
        </span>

      </div>
    </div>
  </div>

</div>
